body {
    background-color: azure;
}
.top {
    border: cadetblue 3px groove;
}

header h1 {
    color: #30CAD3;
    font-size: 34px;
    text-align: center;
}

.main {
    border: lightblue 5px groove ;
    margin: auto;
    text-align: center;
}

.main p {
    text-align: center;
    padding: 5px;
}

.main img {
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80%;
    width: 50%;
}

footer {
    border: darkslategrey 5px solid;
    background-color: darkcyan;
    text-align: center;
}